<button class="btn btn-primary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#adminSidebar" aria-expanded="false" aria-controls="adminSidebar">
    <i class="fas fa-bars"></i> Menu
</button>
<aside class="col-md-2 sidebar" id="adminSidebar">
    <nav class="nav flex-column py-3">
        <a class="nav-link" href="/admin/revenue">
            <i class="fas fa-chart-line me-2"></i>Doanh Thu
        </a>

        <a class="nav-link" href="/admin/menu-stats">
            <i class="fas fa-utensils me-2"></i> Món Ăn
        </a>

        <a class="nav-link" href="/admin/staff">
            <i class="fas fa-user-tie me-2"></i> Nhân Sự
        </a>

        <a class="nav-link" href="/admin/info">
            <i class="fas fa-info-circle me-2"></i> Thông Tin
        </a>
    </nav>
</aside>
