<button class="btn btn-primary show" id="admin-sidebar-toggle" type="button">
  <i class="fas fa-bars"></i>
</button>

<aside class="col-md-3 sidebar bg-orange" id="adminSidebar">
  <button
    class="btn btn-close text-white ms-auto"
    id="admin-sidebar-close"
    type="button"
  ></button>
  <nav class="nav flex-column py-3">
    <a class="nav-link" href="/admin/revenue">
      <i class="fas fa-chart-line me-2"></i>Doanh Thu
    </a>

    <a class="nav-link" href="/admin/menu-stats">
      <i class="fas fa-utensils me-2"></i> Món Ăn
    </a>

    <a class="nav-link" href="/admin/staff">
      <i class="fas fa-user-tie me-2"></i> Nhân Sự
    </a>

    <a class="nav-link" href="/admin/info">
      <i class="fas fa-info-circle me-2"></i> Thông Tin
    </a>
  </nav>
</aside>
