<%- include('partials/header') %>

    <!-- Hero Section -->
    <div class="hero">
      <h1>Chào mừng đến với SuShiX </h1>
      <p>Hệ thống nhà hàng SuShiX với 15 chi nhánh phủ khắp các thành phố lớn như Hồ Chí Minh, Hà Nội, Đà Nẵng, đã trở thành điểm đến quen thuộc của thực khách yêu ẩm thực Nhật Bản. Với sự tin yêu của khách hàng, SuShiX không chỉ cam kết mang lại trải nghiệm ẩm thực chất lượng mà còn đặt mục tiêu phát triển mạnh mẽ hơn, mở rộng quy mô trên toàn quốc, nhằm đưa tinh hoa văn hóa Nhật Bản đến gần hơn với người Việt.</p>
    </div>

    <!-- Menu Section -->
    <div class="container py-2">
        
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const buttons = document.querySelectorAll(".add-to-cart-btn");

            buttons.forEach(button => {
                
            });
        });
    </script>

<%- include('partials/footer') %>
